body {
    font-family: 'Inter', sans-serif !important;
}


.navbar {
    background-color: #7451eb;
}

.container {
    padding: 0 70px;
}

.navbar-brand {
    font-weight: 750;
    font-style: italic;
}

.h {
    font-size: 140%;
}

.navbar-nav {
    margin-top: 11px;
}

.navbar-nav .nav-link {
    color: white;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: rgb(249, 176, 42);
    transition: 0.3s;
}

@media (max-width: 575.98px) {
    .navbar-nav  {
        text-align: center;
        padding-right: 10px;
    }

    .navbar-nav .nav-link {
        opacity: 80%;
    }

    .navbar-nav .nav-link:hover {
        color: rgb(223, 222, 222);
        transition: 0.3s;
    }

    .border {
        width: 100%;
    }

    .footer {
        text-align: center;
    }

}


.content-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    cursor: pointer;
}

.size {
    font-size: 250%;
    font-weight: 700;
}

.kb {
    font-size: 70%;
}

.note {
    color: #d2ac3b;
    
}

.star {
    color: #CCCCCC;
}

.star:hover {
    color: #FFC107;
}

.version {
    text-decoration: none;
    color: #00856e;
}

.clock {
    width: 15%;
}

.information {
    width: 5%;
}

.aaa {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.descriptionplus ul li {
    padding-top: 10px;
}

.descriptionplus ul ::marker {
    color: #7451eb;
}


.footer {
    background-color: #7451eb;
    color: white;
}

.link-foot {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.676);
    transition: 0.3s;
}

.link-foot:hover {
    color: rgb(249, 176, 42);
    transition: 0.3s;
}

.lastsentence {
    background-color: #1f0e57;
    color: rgba(255, 255, 255, 0.676);
}


